body
{
    background: url("../images/flight3.jpeg") no-repeat;
    background-size: cover;
}
h1{
    margin-top: 10px;
    font-size: 35px;
    margin-left: 190px;
    color: white;
}

#mySidenav a {
    margin-top: 90px;
    position: absolute; /* Position them relative to the browser window */
    left:-80px; /* Position them outside of the screen */
    transition :0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 200px; /* Set a specific width */
    text-decoration:none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}
#myac 
{
	top: 20px;
    background-color:#42c2f4;
}
/* The about link: 20px from the top with a green background */
#about {
    top: 70px;
    background-color: #4195f4;
}

#blog {
    top: 120px;
    background-color: #4149f4; /* Blue */
}

#projects {
    top: 170px;
    background-color: #7641f4; /* Red */
}

#contact {
    top: 220px;
    background-color: #7641f4 /* Light Black */
}
/* The about link: 20px from the top with a green background */
#about1 {
    top: 270px;
    background-color: #a23be2;
}

#blog1 {
    top: 320px;
    background-color: #c634d3; /* Blue */
}

#contact1 {
    top: 370px;
    background-color: #d23390 /* Light Black */
}

#log
{
     top: 420px;
     background-color: #d24190
}
